//! **************************************************************************
// Written by: Map O.87xd on Wed Nov 18 10:55:31 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "M6" LEVEL 1;
PIN clk_pin<0> = BEL "clk" PINNAME PAD;
PIN "clk_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "reset" LOCATE = SITE "G12" LEVEL 1;
COMP "in_reg<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "in_reg<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "in_reg<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "in_reg<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "in_reg<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "in_reg<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "in_reg<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "in_reg<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "out_reg<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "out_reg<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "out_reg<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "out_reg<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "out_reg<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "out_reg<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "out_reg<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "out_reg<7>" LOCATE = SITE "G1" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

